Source: chuck
Section: sound
Priority: optional
Maintainer: Paul Brossier <piem@debian.org>
Build-Depends: debhelper (>= 10), bison, flex, libjack-dev, libasound2-dev, libsndfile1-dev, docbook-to-man
Standards-Version: 3.9.8
Homepage: http://chuck.cs.princeton.edu

Package: chuck
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: jackd
Description: Concurrent, On-the-fly Audio Programming Language
 ChucK is a new audio programming language for real-time synthesis,
 composition, and performance, which runs on commodity operating systems.
 .
 ChucK presents a new time-based concurrent programming model, which supports
 multiple, simultaneous, dynamic control rates, and the ability to add, remove,
 and modify code, on-the-fly, while the program is running, without stopping or
 restarting. 
