#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS := hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export CFLAGS:=$(CPPFLAGS) $(CFLAGS)
export CHUCK_STRICT=1

%:
	dh $@ --sourcedirectory=src

# The build targets "linux" generates a single chuck executable with
# support for multiple sound systems: alsa, pulse, and jack.
override_dh_auto_build:
	dh_auto_build -- CHUCK_DEBUG=y linux
	docbook-to-man debian/chuck.sgml > build/chuck.1

execute_after_dh_auto_clean:
	rm -rf build/

override_dh_installchangelogs:
	dh_installchangelogs VERSIONS

execute_after_dh_installexamples:
	@echo "Symbolic link duplicate audio files."
	jdupes --recurse --link-soft debian/chuck-data/usr/share/doc/chuck-data/examples

override_dh_compress:
	dh_compress -X.wav -X.ck

execute_after_dh_fixperms:
	-find debian/chuck-data/usr/share/doc/chuck-data/examples/ -type f -exec chmod --changes 644 '{}' '+'
